$color-primary: #f5504d;
$color-secondary: #313986; //d33773 #;
$color-gray: #dddddd;
$color-lightgray: #e7e7e750;

// $color-gold: #d6ad60;
// $color-tan: #b68d40;
// $color-cream: #f4ebd0;
// $color-charcoal: #122620;
