@import '~@csstools/normalize.css';
@import './colors.scss';
@import './base.scss';

* {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

:focus-visible {
  outline: 1px solid $color-secondary;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
