@import './../../styles/colors.scss';
@import './../../styles/mixins.scss';

.container {
  display: flex;
  flex-direction: column;

  .task {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 2px $color-secondary;
    color: $color-secondary;
    transition: opacity 0.3s ease;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    .content {
      flex-grow: 1;
      margin-right: 5px;
      font-size: 1rem;

      @include set-checkbox-size(28px);
    }

    &.done {
      opacity: 0.7;

      .content {
        text-decoration: line-through;
      }
    }
  }
}
